.homebody {
    background-color: #6B9080;
}

.additionalpagebody {
    background-color: #54494B;
}

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 8px;
}

#container1 {
    background-color: #A4C3B2;
}

#container2, #container3 {
    background-color: #CCE3DE;

}

.title {
    text-align: center;
    text-decoration: underline;
}

p {
    text-indent: 50px;
}

#agedistfigcontainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.twofigures {
    width: 50%;
    margin: 0 auto;
}

.figure {
    width: 75%;
    /* using display: block and margin: auto to center the figure within the container */
    display: block;
    margin: auto;
}

.agedistfig {
    width: 100%;
    height: auto;
    /* the following will resize the image to fit in its container */
    object-fit: contain;
}

figcaption {
    position: relative;
    width: 100%;
}

.figcaptionbold {
    font-weight: bold;
}

.summarystattables {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.table {
    background-color: white;
    width: 100%;
    height: min-content;
    /* the following will resize the image to fit in its container */
    table-layout: fixed;
}

th, td {
    overflow-wrap: break-word;
}

caption {
    color: black;
    position: relative;
    width: 100%;
}