/* formats navbar on all pages */
.navbar {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(172, 192, 180);
    border-bottom: 1px solid rgb(148, 146, 146);
}

/* divs with container class hold of the information on a page, except the navbar */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* formats main title on all pages */
.title {
    text-align: center;
    margin-bottom: 35px;
}

/* #columns is the container for columns #col1 and #col2 on the home page */
#columns {
    display: flex;
    gap: 25px;
}

#col1 {
    width: 80%;
}

#col2 {
    width: 20%;
}

/* formats subsection titles on all pages */
h2 {
    font-size: 1.4em;
}

/* age distribution figure container contains figures 1 and 2, as well as associated captions */
@media screen and (min-width: 1000px) {
    #agedistfigcontainer {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
    /* class applies to the figure tags for figures 1 and 2, which have nested img and figcaption tags */
    .twofigures {
        width: 50%;
        margin: 0 auto;
    }
}

/* singlefigure class applies to figures 3-5 (each figure has its own line), which has nested img and figcaption tags */
@media screen and (max-width: 775px) {
    .singlefigure {
        width: 100%;
    }
}
@media screen and (min-width: 776px) {
    .singlefigure {
        width: 80%;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {
    .singlefigure {
        width: 60%;
    }
}

/* applies to img tag associated with each figure */
.fig {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* formats figcaption tags associated with each figure */
figcaption {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

/* span tag to format the label of each figure caption */
.figcaptionlabel {
    font-weight: bold;
}


@media screen and (min-width: 505px) {
    .summarystattables {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}

.table {
    background-color: white;
    width: 100%;
    height: min-content;
    table-layout: fixed;
}

th, td {
    overflow-wrap: break-word;
}

caption {
    color: black;
    position: relative;
    width: 100%;
}

/* allows only screenreaders to see the text indicating which tab is currently selected */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
