<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <title>BCMB 424 Final - Home</title>
</head>
<body class="homebody">
    <div class="container">
        <h1 class="title">Analysis of Breast and Prostate Cancer Datasets</h1>
        <h2>About the Data</h2>
        <p>Two datasets will be analyzed, one having breast cancer data and one having prostate cancer data. Both of them were found through <a href="http://www.cbioportal.org/">cBioPortal</a> and are available for download at the following links: <a href="http://www.cbioportal.org/study/clinicalData?id=brca_mbcproject_2022">breast cancer dataset</a> and <a href="http://www.cbioportal.org/study/clinicalData?id=prostate_dkfz_2018">prostate cancer dataset</a>.</p>
        <p>There are 379 rows in the breast cancer dataset, representing the number of samples collected from 301 patients, and 142 columns, representing a piece of information about the patient or sample. The prostate cancer dataset is constructed similarly, with 324 rows representing the number of samples collected from 292 patients, and 26 columns that each provide more information about the patient or sample. Columns/variables to consider in analysis were narrowed down by their relevance to the subject and interest in the analysis results. Rows that were left blank in the columns of interest were dropped before analysis.</p>
        <h2>View Analysis</h2>
        <ul>
            <li><a href="/age_and_sex">Age and Sex Information</a></li>
        </ul>
    </div>
</body>
</html>